    body {
        margin: 0;
        padding: 0;
    }
    
    .body {
        display: flex;
        background-color: white;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
    }
    
    .bg {
        height: 100%;
        width: 450px;
    }
    
    .logo {
        position: absolute;
        top: 98px;
        left: 0px;
        height: 200px;
        width: 450px;
        opacity: 0.7;
        margin: 0px;
        padding: 0px;
    }
    
    .left {
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    
    .right {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    
    .top-section {
        height: 33.33%;
        background-color: rgb(251, 249, 249);
        margin: 0px;
        padding: 0px;
        font-size: 20px;
    }
    
    .mid-section {
        height: 33.33%;
        background-color: green;
    }
    
    .mid-section>p {
        margin-left: 40px;
    }
    
    .bottom-section {
        height: 33.33%;
        background-color: aqua;
    }
    
    #firstPara {
        margin-left: 40px;
        margin-top: 50px;
        margin-right: 40px;
    }
    
    #secondPara {
        margin-left: 40px;
        margin-top: 10px;
        margin-right: 40px;
    }
    
    .form {
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        padding-left: 40px;
    }